main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* Game Interface */
  .witchsalt-interface {
    background-image: url(../assets/media/interfaceassets/uitest.jpg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 800px;
  }
  
    /* Leftside Toolbar */
  .leftside-toolbar {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    max-height: 800px;
  }
  
  .equipped,
  .unequipped {
    display: flex;
    flex-direction: row;
  }
  
  .spell-book,
  .inventory {
    width: 100px;
    height: 700px;
    display: flex;
    flex-direction: column;
  }

  .equipped-spell,
  .equipped-item,
  .spells-button,
  .armory-button {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .equipped-spell,
  .equipped-item,
  .spells-button,
  .armory-button:hover {
    cursor: pointer;
    filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.3));
  }

  .armory-button {
    background-image: url(../assets/media/interfaceassets/armorybutton.png);
  }
  .item-slot-weapon {
    background-image: url(../assets/media/interfaceassets/inventorybuttons/itemslotweapon.png);
  }
  .item-slot-head {
    background-image: url(../assets/media/interfaceassets/inventorybuttons/itemslothead.png);
  }
  .item-slot-chest {
    background-image: url(../assets/media/interfaceassets/inventorybuttons/itemslotchest.png);
  }
  .item-slot-arms {
    background-image: url(../assets/media/interfaceassets/inventorybuttons/itemslotarms.png);
  }
  .item-slot-legs {
    background-image: url(../assets/media/interfaceassets/inventorybuttons/itemslotlegs.png);
  }
  .item-slot-feet {
    background-image: url(../assets/media/interfaceassets/inventorybuttons/itemslotfeet.png);
  }
  .item-slot-jewelry {
    background-image: url(../assets/media/interfaceassets/inventorybuttons/itemslotjewelry.png);
  }
  .spells-button {
    background-image: url(../assets/media/interfaceassets/spellbookbutton.png);
  } 
  .spell-slot-1 {
    background-image: url(../assets/media/interfaceassets/spellbookbuttons/spellslot1.png);
  }
  .spell-slot-2 {
    background-image: url(../assets/media/interfaceassets/spellbookbuttons/spellslot2.png);
  }
  .spell-slot-3 {
    background-image: url(../assets/media/interfaceassets/spellbookbuttons/spellslot3.png);
  }
  .spell-slot-4 {
    background-image: url(../assets/media/interfaceassets/spellbookbuttons/spellslot4.png);
  }
  .spell-slot-5 {
    background-image: url(../assets/media/interfaceassets/spellbookbuttons/spellslot5.png);
  }
  .spell-slot-6 {
    background-image: url(../assets/media/interfaceassets/spellbookbuttons/spellslot6.png);
  }
  .quick-spell {
    background-image: url(../assets/media/interfaceassets/spellbookbuttons/quickspell.png);
  }

  /*.spells-button:active {} */

  .spells,
  .armory {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  
  /* Game Area*/
  .game-area {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    max-height: 800px;
  }
  
    /* Logs */
  .logs {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
  }
  
    /* Bottom Toolbar */
  .stat {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
  }

  .stats,
  .dice-rolls {
    width: 600px;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .player-status {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
  }

  .health-bar,
  .energy-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .health-bar-header,
  .energy-bar-header {
    display: inline-flex;
    flex-direction: row;
  }

  .health-bar-fill,
  .energy-bar-fill {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
  }

  .player-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 600px;
    height: 100%;
  }
  
  .dice-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
  }

  .dice-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .dice-buttons div{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

  .dice-buttons div:hover {
    cursor: pointer;
    transform: translate(5px, -5px) scale(1.1); 
    filter: drop-shadow(0 8px 15px rgba(0, 0, 0, 0.3));
  }

  .d4-button {
    background-image: url(../assets/media/interfaceassets/dicebuttons/d4.png);
  }
  .d6-button {
    background-image: url(../assets/media/interfaceassets/dicebuttons/d6.png);
  }
  .d8-button {
    background-image: url(../assets/media/interfaceassets/dicebuttons/d8.png);
  }
  .d10-button {
    background-image: url(../assets/media/interfaceassets/dicebuttons/d10.png);
  }
  .d12-button {
    background-image: url(../assets/media/interfaceassets/dicebuttons/d12.png);
  }
  .d20-button {
    background-image: url(../assets/media/interfaceassets/dicebuttons/d20.png);
  }
  .d100-button {
    background-image: url(../assets/media/interfaceassets/dicebuttons/d100.png);
  }

/* Media Queries */
  /* Small Screens */
    /* Portrait styles for small screens */ 
@media (orientation: portrait) and (max-width: 600px) {
  
}

    /* Landscape styles for small screens */
@media (max-width: 600px) and (orientation: landscape) {
  
}

  /* Medium Screens */
    /* Portrait styles for medium screens */
@media (min-width: 601px) and (max-width: 1024px) and (orientation: portrait) {

}
    /* Landscape styles for medium screens */
@media (min-width: 601px) and (max-width: 1024px) and (orientation: landscape) {
  
}

  /* Large Screens */
      /* Large screen styles */
@media (min-width: 1025px) {

}

@media print {
  a[href^="http"]:after {
    content: " (" attr(href) ")";
  }
}
